[submodule "3rdParty/ucx"]
	path = 3rdParty/ucx
	url = https://github.com/openucx/ucx.git
[submodule "3rdParty/ucc"]
	path = 3rdParty/ucc
	url = https://github.com/openucx/ucc.git
[submodule "3rdParty/openmpi"]
	path = 3rdParty/openmpi
	url = https://github.com/open-mpi/ompi.git
